#scroll {
	overflow: hidden;
	width: 100px !important;
	// display: inline-block;
	// border: 1px solid red;
	height: 20px;
	white-space: nowrap;
	position: absolute;

	top: 40%;
	right: 20%;

	@include md {
		width: 110px !important;
		height: 20px;
		top: 40%;
		right: 20.5%;
	}

	@include lg {
		width: 150px !important;
		top: 39.5%;
		right: 20.5%;
	}

	@include xl {
		width: 180px !important;
		top: 40%;
		right: 21%;
	}



	#scrollContainer {
		width: 242px;
		display: flex;
		white-space: nowrap;

		h1 {
			font-size: 11px;
			font-family: 'Roboto', sans-serif;
			font-weight: 100;
			letter-spacing: 3px;

			@include md {
				font-size: 14px;
			}

			@include lg {
				font-size: 16px;
			}

			@include xl {
				font-size: 18px;
				width: 300px;
			}
			


			margin: 0;
			padding-left: 0px;
			// border: 1px solid blue;
			width: 250px;
			color: white;

			span {
				color: black;
			}

			// flex-wrap: nowrap;
		}
	}
}







// #scroll {
//     // position:absolute;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     // height: 5%;

//     >div {
//     //   background-color: $blue;
//       overflow: hidden;
//     //   padding: 20px 0;
//       width: 20%;
//       border: 1px solid white;


//       #scrollContainer{
//         width: 48%;
//         border: 1px solid red;
//         display: flex;

//         p{
//           font-size: rem-calc(15);
//           margin-right: 10px;
//           color: white;
//           white-space: nowrap;
//         }
//       }
//     }
//   }