

    #speedTag{
      top:100%;
       color: white;
      font-family: 'Roboto', sans-serif;
      font-weight: 100;
      letter-spacing: 10px;

      @include md{
        font-size: 10px;
      }
      
      @include lg{
        font-size: 80px;
      }
      
    }
