#svg-container {
	display: grid;
	grid-template-columns: auto 80% auto;
	grid-template-areas: ". svg-container .";
	height: 100vh;
	background-color: black;

	@include md{
		grid-template-columns: auto 70% auto;
	}

	@include lg{
		grid-template-columns: auto 65% auto;
	}

	// @include xl{
	// 	grid-template-columns: auto 1200px auto;
	// }
	>div {
		
		display: flex;
		align-items: center;
		
		
		grid-area: svg-container;

		section{
			position: relative;
			// border: solid 1px red;
			width: 100%;

			img{
				position: absolute;
				top:9.15%;
				right:19.5%;
				height: 25.75%;

				// @include lg{
				// 	top:9.25%;
				// 	right:18%;
				// 	height: 26%;
				// }
				
			}

			// #speedTag{
			// 	position: absolute;
			// 	color: white;
			// 	font-size: 80px;
			// }

			svg{
				width: 100%;
			}

			#speed{
				position: absolute;
				top:22%;
				left:24%;

				@include lg{
					top:20%;
					left:23%;
				}
				
				@include xl{
					top:20%;
					left:23%;
				}
				
			}

			#scroll{
				// top: 0%;
				position: absolute;

				@include lg{
					top: 40%;
					left: 40%;
				}
			}

			
		}

		
	}

	// #musicCircleGroup{
	// 	position: relative;
	// }


	// #simonDominicAlbum{
	// 	// height: 30%;
	// 	top: 15vh;
	// 	left: 57vw;
	// 	position: absolute;
	// 	display: none ;
	// }
	
	// #Flower1{
	// 	z-index: -200;
	// }
}
